<h2>Please enter your login details</h2>

<form class="login" action='/' method="post" class="login" >
    <input type="text" placeholder="Enter username" name="username">
    <input type="password" placeholder="Enter password" name="password">
    <br>
    <button type="submit">Login</button>
</form>