<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      <a class="logo" href="/">QuizMaster</a>
      <ul>
        <a class="nav-item" href="/quizzes"><li>Quizzes</li></a>
        <a class="nav-item" href="/logout"><li>Logout</li></a>
      </ul>
    </nav>
    <div class="main">
      {{{body}}}

    </div>
  </body>
</html>
