/* General styles */
html, body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background: #E5B25D;
  padding: 20px;
}

.logo {
  font-size: 25px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 0 20px;
}


/* Main body */
.main {
  margin: 0 auto;
  padding: 30px;
  background: lightyellow;
  width: 700px;
}


/* View quizzes page */
thead {
  text-align: left;
  font-size: 20px;
}

th, td {
  width: 200px;
  height: 25px;
}

.quiz-btn {
  width: 30px;
  padding: 0 3px;
}


/* View questions page */
.details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-container {
  padding: 10px 0;
}