/* General styles */
html, body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  color: #E5B25D;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input {
  margin: 10px 0;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background: #E5B25D;
  padding: 20px;
}

.logo {
  font-size: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 0 20px;
}


/* Main body */
.main {
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px;
  background: lightyellow;
  width: 700px;
  border: 2px solid #E5B25D;
}


/* View quizzes page */
thead {
  text-align: left;
  color: #E5B25D;
  font-size: 20px;
}

th, td {
  width: 200px;
  height: 30px;
}

.quiz-btn {
  width: 30px;
  padding: 0 3px;
}


/* View questions page */
.details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-container {
  padding: 10px 0;
}

/* Edit questions page */



/* View answers page */
.answers {
  list-style: none;
  padding: 0;
}

.answers li {
  margin: 7px 0;
}