<h2>Create quiz</h2>
<form action="/quizzes/create" method="POST">
    <input type="text" placeholder="Enter title" name="title">

    <button type="submit">Submit</button>
</form>
<br>
<a href="/quizzes"><button>Back to quizzes</button></a>
