<h2>Create quiz</h2>
<form action="/quizzes" method="POST">
    <input type="text" placeholder="Enter title" name="title">
    {{!-- <input type="text" placeholder="Enter Question" name="question">

    <input type="text" placeholder="Enter Question" name="question_2">

    <input type="text" placeholder="Enter Question" name="title">

    <input type="text" placeholder="Enter title" name="question_3">
    <input type="text" placeholder="Enter Question" name="title">

    <input type="text" placeholder="Enter title" name="question_4">
    <input type="text" placeholder="Enter title" name="question_5"> --}}

    <button type="submit">Submit</button>
</form>

