<h2>Create quiz</h2>
<form action="/quizzes/create" method="POST">
    <input class="new-quiz" type="text" placeholder="Enter title" name="title">
    <br>
    <button type="submit">Create</button>
</form>
<br>
<a href="/quizzes"><button>Back to quizzes</button></a>
